.container{
    display: flex;
    /* align-items: center; */
    
    
}
.mainSection{
    width: 75%;
    margin-top: 3.5rem;
    overflow-y: scroll;
    height: 90vh;
     

}
.mainSection::-webkit-scrollbar{
    width: 15px;
    
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
border-radius: 1rem;


}
.mainSection::-webkit-scrollbar-thumb{
    background-color: rgb(34,193,195); 
    border-radius: 1rem;

}


.sidebar{
    background-color: white;
    width: 20%;
    border-radius: 0.5rem;
    height: 100vh;
    position: fixed;
    top:5.5rem;
    right: 2rem;
    text-align: center;
    
    

}
.sidebar > ul{
    list-style-type: none;
    padding: 1rem;
    
}
.sidebar > ul > li{
    padding: 1rem;
    color: rgb(195, 62, 102);
    cursor: pointer;
}
.sidebar > ul > li:hover{
    color: rgb(16, 10, 131);
}

h3{
    padding: 1rem;
    text-decoration: underline;

}
button{
    padding: 5px 0.5rem;
    background-color: orange;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;

}
button:hover{
    background-color: green;
}

/* media queries */
@media screen and (max-width:500px) {
    .container{
        display: flex;
        flex-direction:  column;
     
        align-items: center;
    }
    .mainSection{
        width: 90%;
    }
    .sidebar{
        position: static;
        width: 90%;
    }
    
}
